[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Nounours
Comment=Your Linux teddy bear
Exec=nounours
Icon=nounours.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;KidsGame;

