[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Nounours Android Robot
Comment=Your Android robot
Exec=nounours -theme robot
Icon=nounours-robot
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Game;KidsGame;
StartupWMClass=Nounours
